@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	text-decoration: none;
}

.container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}


.container > section {
	padding: 2em;
	font-size: 1.4em;
	max-width: 50em;
	margin: 0 auto;
}

.container > section p {
	padding: 0.8em 0;
	text-align: justify;
	opacity: 0.5;
	font-weight: 300;
	line-height: 1.4;
}

@media screen and (max-width: 25em) {

}